{% extends 'base.off.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
<style>
    /* Centrer le contenu verticalement */
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; /* Hauteur minimale de 80% de la vue */
        position: static; /* Position statique pour garder le contenu aligné */
    }
    
    /* Style de la carte avec effet de relief */
    .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 0 15px white; /* Effet de relief plus ombre */
        border-radius: 20px; /* Coins arrondis */
        border: 7px solid #000; /* Bordure épaisse autour de la box */
    }
</style>

<div class="container centered-container mb-4">
    <div class="row justify-content-center align-items-center">
        <!-- Colonne pour l'abonnement gratuit -->
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <div class="card card-shadow">
                <div class="card-body text-center">
                    <h5 class="card-title text-success fw-bold text-center ft_orbitron">Abonnement Gratuit</h5><br>
                    <h6 class="card-subtitle mb-2 text-dark fw-bold text-center">€0/mois</h6><br>
                    <ul class="list-unstyled">
                        <li class="ft_audiowide">Création de 3 projets</li>
                        <li class="ft_audiowide">Outils limités</li>
                        <li class="ft_audiowide">Assistance par e-mail</li>
                        <li class="ft_audiowide">Accès au centre d'aide</li>
                    </ul>
                    <a class="btn btn-success btn-lg text-white ft_wallpoet" href="register" role="button">Accéder maintenant</a>
                </div>
            </div>
        </div>

        <!-- Colonne pour l'abonnement Premium -->
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <div class="card card-shadow">
                <div class="card-body text-center">
                    <h5 class="card-title text-success fw-bold text-center ft_orbitron">Abonnement Premium</h5><br>
                    <h6 class="card-subtitle mb-2 text-dark fw-bold text-center">€19.99/mois</h6><br>
                    <ul class="list-unstyled">
                        <li class="ft_audiowide">Projets illimités</li>
                        <li class="ft_audiowide">Outils illimités</li>
                        <li class="ft_audiowide">Assistance par e-mail</li> 
                        <li class="ft_audiowide">et téléphone</li>
                        <li class="ft_audiowide">Accès au centre d'aide</li>
                    </ul>
                    <a class="btn btn-success btn-lg text-white ft_wallpoet" href="subscription" role="button">Souscrivez maintenant</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
