{% extends 'base.off.html.twig' %}

{% block body %}

<div class="container">
    <div class="jumbotron jumbotron-custom text-center">
        
        <img class="img-fluid img_logo_Home m-5" src="{{ asset('images/LogoHome.png') }}" alt="Logo Artefakt">
        
        <br><br>
        
        <!-- Texte descriptif principal -->
        <p class="text-white fw-bold ft_orbitron">Votre partenaire de graphisme pour des projets professionnels réussis.</p>
        
        <!-- Ligne de séparation -->
        <hr class="my-4 text-light">
        
        <!-- Section des services -->
        <div class="row">
            <!-- Première carte : Design de logo et branding -->
            <div class="col-md-4 mb-4">
                <div class="card card-custom h-100">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-bold text-center ft_orbitron">Design de logo et branding</h5>
                        <p class="card-text fw-bold ft_audiowide">Créez une identité visuelle unique pour vos clients.</p>
                    </div>
                </div>
            </div>
            
            <!-- Deuxième carte : Supports marketing -->
            <div class="col-md-4 mb-4">
                <div class="card card-custom h-100">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-bold text-center ft_orbitron">Supports marketing</h5>
                        <p class="card-text fw-bold ft_audiowide">Brochures, flyers, affiches, cartes de visite – tout ce dont vos clients ont besoin.</p>
                    </div>
                </div>
            </div>
            
            <!-- Troisième carte : Illustrations personnalisées -->
            <div class="col-md-4 mb-4">
                <div class="card card-custom h-100">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-bold text-center ft_orbitron">Illustrations personnalisées</h5>
                        <p class="card-text fw-bold ft_audiowide">Des illustrations sur mesure pour vos projets.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Texte d'incitation à l'action -->
        <p class="text-white fw-bold ft_orbitron">Inscrivez-vous dès aujourd'hui et transformez vos idées en œuvres d'art visuel.</p>
        
        <!-- Bouton d'appel à l'action -->
        <a class="btn btn-lg btn-success fw-bold ft_wallpoet" href="/register" role="button">Inscrivez-vous maintenant</a>
    </div>
</div>

{% endblock %}
