{% extends 'base.off.html.twig' %}

{% block body %}
<div class="container mt-5 text-light">
    <h1 class="mb-4">Nom du Rendu : {{ rendering.renderingName }}</h1>
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            Détails de l'image
        </div>
        <div class="card-body">
            <p><strong>Date de création :</strong> {{ rendering.createdAt|date('d/m/Y H:i:s') }}</p>
            <div data-controller="image"
                 data-image-front-png="{{ vich_uploader_asset(rendering, 'frontPngFile') }}"
                 data-image-toward-png="{{ vich_uploader_asset(rendering, 'towardPngFile') }}">
                 
                 <div data-image-target="canvasContainer" style="width: 100%; height: 600px; border: 1px solid #ccc; margin-bottom: 20px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
