<!-- page rendu client -->

{% block title %}
    test
{% endblock title %}

{% block body %}
<div {{ stimulus_controller('three') }}>
    <div data-three-target="canvasContainer"></div>
    <button data-three-target="pauseButton" class="my-button">Pause Rotation</button>
    <button data-three-target="resetButton" id="resetbutton" class="my-button">Reset Camera</button>
</div>
{% endblock body %}
