{# templates/rendering/show.html.twig #}

{% extends 'base.logged.html.twig' %}

{% block title %}Rendering Details{% endblock %}

{% block body %}
    <h1>{{ rendering.renderingName }}</h1>
    <div>
        <h2>Images</h2>
        <div data-controller="image" 
             data-image-front-png="{{ vich_uploader_asset(rendering, 'frontPngFile') }}" 
             data-image-toward-png="{{ vich_uploader_asset(rendering, 'towardPngFile') }}">
             
            
            <div data-image-target="canvasContainer" style="width: 100%; height: 500px;"></div>
        
            <button data-action="click->image#toggleRotation" data-image-target="pauseButton">Pause Rotation</button>
            <button data-action="click->image#resetCamera" data-image-target="resetButton">Reset Camera</button>
        </div>
    </div>
{% endblock %}
