<h1>Bonjour</h1>

<p>Vous avez demandé la réinitialisation de votre mot de passe.</p><br>
<p>Le lien ci-dessous vous permettra de changer votre mot de passe.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Merci de votre visite !</p>
