
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Wallpoet&display=swap');

html, body {
    height: 100%;
}

.main-container {
    flex-grow: 1;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_logo {
    height: 30px;  
    width: auto;   
    display: inline-block;
}
 
.ft_orbitron {
    font-family: 'Orbitron', sans-serif;
}

.ft_audiowide {
    font-family: 'Audiowide', sans-serif;
}

.ft_fell {
    font-family: 'IM Fell English SC', sans-serif;
    font-size: 18px;
}

.ft_wallpoet {
    font-family: 'Wallpoet', sans-serif;
}

#gold {
    background-image: url('../images/gold_back.png');
    background-size: cover;
    background-position: center;
    color: #fff; /* Change the text color if needed */
}

.list-group-item-transparent {
    background-color: transparent !important;
}