body {
    background-color: rgb(126, 132, 201);
}


#pauseButton {
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#pauseButton:hover {
    background-color: #c00;
}
