{% extends 'base.off.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}


{% block body %}
<style>
    .about-container {
        margin-top: 50px;
    }
    .about-header {
        text-align: center;
    }
    .about-header h1 {
        font-size: 3em;
        color: #097303;
    }
    .about-header p {
        font-size: 1.2em;
        color: #333;
        margin-top: 20px;
        line-height: 1.6;
    }
    .about-section {
        margin-top: 50px;
    }
    .about-section h2 {
        font-size: 2em;
        color: #097303;
        margin-bottom: 20px;
    }
    .testimonial {
        background-color: #f8f9fa;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-style: italic;
    }
    .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 0 15px white; /* Effet de relief */
        border-radius: 20px; /* Coins arrondis */
        border: 7px solid #000; /* Bordure épaisse */
    }
</style>

<div class="container about-container">
    <div class="about-header">

        <h1 class="anton-regular text-light">A propos de nous</h1>
        <p class="text-light">Artifact Vision est une plateforme de projection 3D destinée aux graphistes. Elle permet d'envoyer des rendus aux clients pour obtenir leur validation. Avec Artifact Vision, les graphistes peuvent facilement partager leurs créations, recevoir des commentaires et des approbations, et ainsi améliorer leur flux de travail créatif.</p>
    </div>

    <div class="about-section">
        <h2 class="ft_orbitron">Notre Mission</h2>
        <p class="text-light">Chez Artifact Vision, notre mission est de fournir aux graphistes les outils nécessaires pour créer et partager des rendus 3D de haute qualité. Nous croyons en la puissance de la collaboration et de la créativité, et nous nous engageons à faciliter le processus de validation des projets graphiques.</p>
    </div>

    <div class="about-section">
        <h2 class="ft_orbitron">Ce que disent nos clients</h2>
        <div class="testimonial card-shadow">
            <p class="text-success">"Artifact Vision a transformé notre façon de travailler avec nos clients. Les rendus 3D sont superbes et les retours de nos clients sont extrêmement positifs." - Client Bob</p>
        </div>
        <div class="testimonial card-shadow">
            <p class="text-success">"Grâce à Artifact Vision, nous avons pu réduire le temps de validation de nos projets de moitié. C'est un outil indispensable pour notre équipe." - Client Patrick</p>
        </div>
        <div class="testimonial card-shadow">
            <p class="text-success">"Sans cette application nous n'aurions pas pu présenter de projet au jury" - Les Stagiaires</p>
        </div>
    </div>
</div>
{% endblock %}
