{% extends 'base.logged.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}

{# <style> 
    /* Style de la page */
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
    .card {
        background-color: rgba(85, 85, 85, 0.95); 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgb(110, 236, 240); 
        color: white; 
        text-align: center;
    }
    .card-title {
        font-size: 1.25rem;
        color: black;
    }
    .card-text {
        font-size: 0.875rem;
    }
    .img_logo_Home {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
    }
    /* Style des boutons */
    .btn-custom {
        background-color: rgba(85, 85, 85, 0.8); 
        color: black; 
        border: 2px solid white; 
    }
    .btn-custom:hover {
        background-color: white;
        color: black; 
    }
    
</style> #}



{# Style du code avec boostrap pour alléger le code du css brut #}

<div class="container mt-5"> {# Utilisation de la classe container avec la variable boostrap mt-5 pour une marge en haut #}

    {% if app.user %} {# Utilisation de la syntaxe twig '{% --- %}' pour vérifier la connexion de l'utilisateur #}
        <h1 class="mb-5 text-white">Bienvenue, {{ app.user.firstname }}!</h1>

        <div class="jumbotron"> {# jumbotron, composant de boostrap pour créer une section pour attirer l'oeil des utilisateurs #}
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 text-center bg-secondary text-white"> {# Utilisation de la classe card de boostrap avec plusieurs variables #}
                        <div class="card-body">
                            <h5 class="card-title text-black">Mon compte</h5> {# Utilisation de card-title pour les titres et card-text pour les textes des cartes #}
                            <p class="card-text">Mettez à jour vos informations de compte.</p>
                            <a href="#" class="btn btn-outline-light fw-bold">Modifier le compte</a> {# Stylisation des boutons #}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 text-center bg-secondary text-white">
                        <div class="card-body">
                            <h5 class="card-title text-black">Mon Profil</h5>
                            <p class="card-text">Mettez à jour vos informations de profil.</p>
                            <a href="{{ path('app_profil') }}" class="btn btn-outline-light fw-bold">Modifier le profil</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 text-center bg-secondary text-white">
                        <div class="card-body">
                            <h5 class="card-title text-black">Mes Factures</h5>
                            <p class="card-text">Historique de vos factures</p>
                            <a href="{{ path('app_profil') }}" class="btn btn-outline-light fw-bold">Visualisez vos paiements</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 text-center bg-secondary text-white">
                        <div class="card-body">
                            <h5 class="card-title text-black">Nouveau Projet</h5>
                            <p class="card-text">Commencez un nouveau projet de graphisme</p>
                            <a href="#" class="btn btn-outline-light fw-bold">Création</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 text-center bg-secondary text-white">
                        <div class="card-body">
                            <h5 class="card-title text-black">Mes Projets</h5>
                            <p class="card-text">Gérez vos projets de graphisme ici.</p>
                            <a href="{{ path('app_profil') }}" class="btn btn-outline-light fw-bold">Mes projets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert"> {# Utilisation du role alert pour prévenir l'utilisateur que s'il veut accéder à cette page il doit être connecté, c'est un système de sécurité #}
            Vous devez être connecté pour accéder à cette page.
        </div>
    {% endif %}
</div>

{% endblock %}