{% extends 'base.logged.html.twig' %}

{% block title %}Détails de la facture{% endblock %}

{% block body %}
    <h1>Détails de la facture</h1>

    <p>ID de la facture : {{ invoice.getStripeInvoiceId() }}</p>
    <p>Date de création : {{ invoice.getCreatedAt()|date('Y-m-d H:i:s') }}</p>
    <p>Montant : {{ invoice.getAmount() }}</p>
    
    <!-- Vous pouvez ajouter d'autres détails de la facture ici -->

    <a href="{{ path('app_invoices') }}">Retour à la liste des factures</a>
{% endblock %}
