{# templates/project/create.html.twig #}

{% extends 'base.logged.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
<h1>Nouveau Projet</h1>

{{ form_start(form) }}
    {{ form_row(form.projectName) }}
    {{ form_row(form.clientName) }}
    <button class="btn btn-primary">Créer</button>
{{ form_end(form) }}
{% endblock %}
