{% extends 'base.logged.html.twig' %}

{% block title %}My Projects{% endblock %}

{% block body %}
    <h1>My Projects</h1>

    {% for project in projects %}
        <div>
            <h2>{{ project.projectName }}</h2>
            <p>Client: {{ project.clientName }}</p>
            <a href="{{ path('project_show', {'id': project.id}) }}">View Project</a>
        </div>
    {% else %}
        <p>No projects found.</p>
    {% endfor %}
{% endblock %}
