{# templates/project/index.html.twig #}

{% extends 'base.logged.html.twig' %}

{% block title %}Mes Projets{% endblock %}

{% block body %}
<h1>Mes Projets</h1>

<a href="{{ path('project_create') }}" class="btn btn-primary">Nouveau Projet</a>

<ul>
    {% for project in project %}
        <li>
            <a href="{{ path('project_show', {'id': project.id}) }}">{{ project.projectName }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
